.backgroundimage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingimage{
    display: flex;
    float: top;
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
}