.topnav{
    position: fixed;
    top: 0;
    background-color: rgb(35, 33, 33);
    z-index: 4;
    width: 100%;
    height: 40px;
    padding: 5px 4px;
}

.togglericon{
    width: 40px;
    height: 20px;
}


.togglericon:hover{
    color: #9ACD32 !important;
}

.brand{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: 0 20px;
    height: 40px;
    font-family: 'Ubuntu',sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.aman{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 36px;
    padding: 2px 6px;
}

.solanki{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 36px;
    padding: 2px 6px;
}

.as{
    color: #9ACD32;
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 2px 0 0;
    cursor: pointer;
    transition: 0.02s;
}

.as:hover{
    animation: rotate 1s linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.navigation{
    float: right !important;
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 10px;
}

.displaynone{
    display: none;
}

.navigation p{
    color: white;
    display: flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 2px 5px;
    margin: 2px 8px;
    cursor: pointer;
    text-decoration: none;
}

.navigation p > .active {
    background-color: rgb(29, 28, 28);
    border-bottom: 3px solid #9ACD32;
}

.navigationsize{
        position: absolute;
        align-items: center;
        justify-content: center;
        right: 10px;
        top: 45px;
        flex-direction: column;
        width: 50%;
        border-radius: 0 0 10px 10px;
        background-color: rgb(35, 33, 33);

}

.hamburger{
    float: right;
    display: none;
    margin-right:20px ;
    align-items: center;
    width: 40px;
    justify-content: center;
    height: 40px;
    cursor: pointer;

}

.nav_active{
    background-color: rgb(29, 28, 28);
    border-bottom: 3px solid #9ACD32;
}

.navigation p:hover{
    background-color: rgb(29, 28, 28);
    border-bottom: 3px solid #9ACD32;
}

@media screen and (max-width:550px)
{
    .navigation p{
        width: 90%;
    }

    .hamburger{
        display: flex;
        
    }
}