@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dongle:wght@300;400;700&family=Kaushan+Script&family=Mochiy+Pop+P+One&family=Open+Sans:wght@300;400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,500;1,700&family=Varela+Round&display=swap');
*{
  margin: 0 0;
  padding: 0 0;
  font-family:'Ubuntu',sans-serif;
  /* color: rgb(234, 224, 224); */
}
.App{
  margin: 0 0;
  top: 0;
  background-color: rgb(53, 52, 52);
  color: white;
}
.universalBox{
  margin: 20px 20px 20px 30px;
}

.row{
  margin: 10px 10px;
  padding: 10px 10px;
}

.leftcolumn{
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2px 2px;
  padding: 2px 2px;
  width: 48%;

}
.rightcolumn{
  float: right;
  display: flex;
  margin: 2px 2px;
  padding: 2px 2px;
  justify-content: center;
  align-items: center;
  width: 48%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.title {
  display: flex;
  color:#9ACD32;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.project_tech{
  color: #9ACD32;
  font-size: 17px;
  font-weight: 800;
  margin: 0 6px 0 0;
}

.description{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 4px 0px;
}

.section_up{
  font-size: medium;
  margin: 0 0 0 15px;
}

.section_down{
  font-size: medium;
  margin: 0 0 0 15px;
}

.div_up{
  font-size: x-small;
  margin: 0 0 0 25px;
}

.div_down{
  font-size: x-small;
  margin: 0 0 0 25px;
}

.animationdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  width: 50%;
  height: 50vw;
  max-height: 300px;
  max-width: 300px;
  min-height: 300px;
  min-width: 300px;
}

.myimage{
  display: flex;
  flex-flow: wrap;
  width: 40%;
  height: 50vw;
  max-height: 300px;
  max-width: 200px;
  min-height: 300px;
  min-width: 200px;

}

.projectimage{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 4px;;
  padding: 2px 2px;
  width: 50%;
  height: 50vw;
  max-height: 270px;
  max-width: 270px;
  min-height: 270px;
  min-width: 270px;
  border: 1px solid #9ACD32;
  border-radius: 10px;

}

.link{
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  height: 25px;
  padding: 2px 2px;
  margin: 5px 5px;
  border-radius: 5px;
}

.link_box{
  background-color: rgb(210, 201, 201);
  border-radius: 5px;
}

.link:hover{
  background-color: white;
}

.link .icons:hover{
  color: black;
}

.icons{
  height: 25px;
  width: 25px;
  color: rgb(240, 232, 232) ;
  transition: 0.5s;
}



@media screen and (max-width: 660px) {
  .leftcolumn, .rightcolumn {
    float: left;   
    width: 100%;
    padding: 0;
  }
}